doctype html
html
  head
    meta(charset="utf8")
    link(href="pandora.css", rel="stylesheet", type="text/css")
    link(href="./unlogged/pandora.png", rel="icon", type="image/png")
    link(href='./unlogged/pandora.png', rel='shortcut icon', type='image/png')
    link(href='./unlogged/pandora.png', rel='apple-touch-icon')
  body
    div#superior-y-lateral
      img(src="pandora.png", style={height:"90%", opacity:"0.3"})
      span#superior Pandora
    div#lateral
    div#central
    script(src="pandora.js")